<div class="container">
    <nav class="navbar navbar-expand-sm navbar-light fixed-top" style="background-color: #ffdd99;">
        <a class="navbar-brand">
        <img src="https://tools4teams.nemetschek.bg/images/logos/nemetschek.svg" width="253" height="33" class="d-inline-block align-top" alt=""></a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <h6><a class="nav-link" style="color: #cc5200;" href="@Url.Action("Index","Admin")">Home</a></h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link disabled" style="color: #9c3c00">|</a></h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link" style="color: #cc5200"  href="@Url.Action("Index", "CurrentSchedule")">Current Schedule</a> </h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link disabled" style="color: #9c3c00">|</a></h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link" style="color: #cc5200" href="http://university2019/ReportServer/Pages/ReportViewer.aspx?%2fDailyReport&rs:Command=Render">Daily Statistics</a></h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link disabled" style="color: #9c3c00">|</a></h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link" style="color: #cc5200" href="http://university2019/ReportServer/Pages/ReportViewer.aspx?%2fMonthlyReport&rs:Command=Render">Monthly Statistics</a></h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link disabled" style="color: #9c3c00">|</a></h6>
            </li>
            <li class="nav-item">
                <h6><a class="nav-link" style="color: #cc5200" href="@Url.Action("Index", "EditSchedule")">Manage Masseuses</a></h6>
            </li>

        </ul>
    </nav>
</div>

